<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InPlaca.com</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <header>
            <section class="title-logo">
                <section class="logo">
                    <img src="/images/emoji-cropped.svg"></img>
                </section>
                <h1 class="title">InPlaca<span class="red-span">.</span>com</h1>
            </section>
            <nav class="items">
                <ul>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </header>
        <section class="container">
            <h1 class="headline">Quer Saber Tudo de um Carro?<br><span class="red2-span">Comece pela Placa!</span></h1>
            <h3>Vamos lá? Digite a placa do veículo no campo abaixo e em seguida clique em 🔍</h3>
        </section>
        <section class="form">
            <input required autofocus placeholder="Ex.: ABC-1234 ou ABC-1B34" type="text">
            <button>🔍</button>
        </section>

        <section class="black-card">

        </section>
    </main>
</body>

</html>